body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    text-align: center;
}

header {
    background: #4CAF50;
    padding: 20px;
    color: white;
}

.content {
    padding: 30px;
}

.btn {
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

form {
    margin-top: 20px;
}

input, textarea {
    width: 300px;
    padding: 10px;
    margin: 10px;
}
